.Main { 
  background: url("/JDM's CARS/IMG/JDMFondo.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}
.Honda{
	  background: url("/JDM's CARS/IMG/Honda.jpg") no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  font-family: 'Raleway',
	  sans-serif;
}
.Acura{
	background: url("/JDM's CARS/IMG/Acura.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Raleway',
	sans-serif;
}
.mitsubishi{
	background: url("/JDM's CARS/IMG/Mitsubishi.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Raleway',
	sans-serif;
}
.Toyota{
	background: url("/JDM's CARS/IMG/Toyota.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Raleway',
	sans-serif;
}
.Mazda{
	background: url("/JDM's CARS/IMG/Mazda.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Raleway',
	sans-serif;
}
.Subaru{
	background: url("/JDM's CARS/IMG/Subaru.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Raleway',
	sans-serif;
}

.Nissan{
		  background: url("/JDM's CARS/IMG/Nissan.jpg") no-repeat center center fixed;
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		  font-family: 'Raleway',
		  sans-serif;
}
#container {
	margin: auto;
	width: 81.25rem;
}

#logo img {
	width: 9.375em;
	float: left;
	position: absolute;
}

#left-nav-buttons {
	float: left;
	margin-left: 12.8125em;
}

#right-nav-buttons {
	margin-left: 50.3125em;
}

#right-nav-buttons a {
	font-size: .8em;
}

#right-nav-buttons:hover{
color:red;	transition: .2;
}

.nav-button {
	color: #a51b1b;
	text-decoration: none;
	margin-left: 1.5625em;
	-webkit-text-stroke: 0.03em #fff;
	transition:.2s;
}
.nav-button:hover{
font-size: 1.2em;
color:red;
transition:.2s;
}

#content {
	margin-top: 25%;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding: 0.625em;
}

#content #banner {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 18.75em;
}

#content #marketing-content {
	margin-top: 1.25em;
	text-align: center;
	color: #000;
	font-weight: bold;
	-webkit-text-stroke: 0.001em #fff;

}

#line-1 {
	font-size: 1.5em;
	margin-bottom: 0.625em;
}

#line-2 {
	font-size: 0.9em;	
}

#buttons {
	text-align: center;
	margin-top: 2.5em;
}

.button {
	margin-left: 1.25em;
	margin-right: 1.25em;
	background-color: black;
	color: white;
	padding: 0.625rem 1.5rem 0.625rem 1.5rem;
	max-width: 30px;
	border: 1px solid transparent;
	transition: 0.2s;
}

#buttons a {
	text-decoration: none;
	font-size: .9em;
}

.button:hover {
	border: 1em solid white;
	transition: 0.2s;
}

#footer {
   position:absolute;
   bottom:0;
   width:81.25em;
   height:1.875em;
   text-align: center;
}


.footer-link {
	color: white;
	text-decoration: none;
	margin-left: 1.5625em;
	font-size: .8em;
}

.footer-link:hover{
	color:red;
cursor: pointer;
}

/* #flag {
	width: 1.25em;
	margin-bottom: -5px;
} */

#logo{
	position: relative;
	bottom: 4em;
}


